<?xml version="1.0"?>
<configuration>
  
<configSections>
</configSections>
  <appSettings>
    <add key="ProviderFilePath" value="DatabaseConnection.xml"/>
  </appSettings>
<connectionStrings>
    <add name="DMS.Properties.Settings.CheckRepairDBConnectionString"
        connectionString="Data Source=MCY1HRRQKDHJSOX\SQLEXPRESS;Initial Catalog=CheckRepairDB;Persist Security Info=True;User ID=sa;Password=sa"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
